@{
    ViewBag.Title = "About";
}


<br />

<div class="row">
    <div class="col-md-2">
        <img class="img-shadow" src="https://placezombie.com/140x200" alt="">
    </div>
    <div class="col-md-6">
        <a class="textTitle">Better Call Saul</a><br />
        <a class="textCat">47min | Crime, Drama | TV Series (2015– )</a><br />
        <div class="TvShowTable">
            <table id="data">
                <tr>
                    <td>
                        Season
                    </td>
                    <td>
                        Episode
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Air Date
                    </td>
                    <td>
                        Watched?
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        Switch
                    </td>
                    <td>
                        15 Feb. 2016
                    </td>
                    <td>
                        <img class="image-eye" src="http://i.imgur.com/TpIciYA.png" alt="eye">
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        Cobbler
                    </td>
                    <td>
                        15 Feb. 2016
                    </td>

                    <td>
                        <img class="image-eye" src="http://i.imgur.com/TpIciYA.png" alt="eye">
                    </td>

                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        Amalirllo
                    </td>
                    <td>
                        15 Feb. 2016
                    </td>
                    <td>
                        <img class="image-eye" src="http://i.imgur.com/TpIciYA.png" alt="eye">
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        Amalirllo
                    </td>
                    <td>
                        15 Feb. 2016
                    </td>
                    <td>
                        <img class="image-eye" src="http://i.imgur.com/TpIciYA.png" alt="eye">
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        Amalirllo
                    </td>
                    <td>
                        15 Feb. 2016
                    </td>
                    <td>
                        <img class="image-eye" src="http://i.imgur.com/TpIciYA.png" alt="eye">
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-md-4 info">
        <br />
        <a class="textTitleDes">Better Call Saul</a>
        <br/>
        <br />
        <img class="iamge-des" src="https://placezombie.com/200x112" alt="eye">
        <br/>
        <br/>
        <p>After Bridgit Pike is kidnapped her brothers, a new spark of courage ignites within her, as she chooses to take control of her future. Meanwhile, Kringle and Nygma's relationship will take a new step and Penguin and Galavan continue to battle for control of Gotham City's underworld.</p>



    </div>
</div>

<script>
    $('#data tr').click(function (e) {
        $('#data tr').removeClass('highlighted');
        $(this).addClass('highlighted');
    });

    $('.TvShowTable').on("click", "a,img", function (e) {

        if ($(this).hasClass("image-eye")) {
            $(this).removeClass("image-eye").addClass("image-eye-clicked");
        } else {
            $(this).removeClass("image-eye-clicked").addClass("image-eye");
        }

    });




</script>