@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div class="container">

<br/>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                Game of Thrones
            </a>
          
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"     alt="">
                Better Call Saul
            </a>
          
        
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                Cosmos: A Spacetime Odyssey
            </a>
           
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                Fargo
            </a>
           
         
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                House of Cards
            </a>
        
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"  alt="">
                Narcos
            </a>
          
          
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"  alt="">
                Hannibal
            </a>
           
           
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                Black Mirror
            </a>
         
           
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"  alt="">
                Mr. Robot
            </a>
          
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                Dr. House 
            </a>
           
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"  alt="">
                Homeland 
            </a>
           
        
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"  alt="">
                Sons of Anarchy
            </a>
          
           
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                The Walking Dead
            </a>
          
           
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                Breaking Bad
            </a>
          
         
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                test
            </a>
            
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"  alt="">
                test
            </a>
          
           
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                test
            </a>
           
          
        </div>
        <div class="col-md-2 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://placezombie.com/140x200"   alt="">
                test
            </a>
         
      
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>