@{
    ViewBag.Title = "Home Page";
}


<!-- Page Content -->
<div class="container">

    <br/>
    <!-- /.row -->
    <!-- Projects Row -->
   

    @{
        int raw = 1;
        var start = "<div class=\"row\">";
        var end = " </div>";
    }
    @foreach (var item in ViewBag.MyList)
    {
        String ID = item.Id;
        ID = ID.Remove(ID.Length - 1);

        if (raw == 1)
        {
           @(new HtmlString("<div class=\"row\"> \n"))

        }

        <div class="col-md-2 portfolio-item">
            <a href="/Home/About?id=@ID">
                <img class="img-shadowban" src="~/Image/TV/@ID/poster2.jpg" alt="140/200">
                @item.Name
            </a>
        </div>
        if (raw == 6)
        {
            raw = 0;
            @(new HtmlString("</div> \n"))
        }
        raw++;
    }





    </div>



<script>

</script>